pandas
requests
psycopg2-binary
sqlalchemy
fastapi
uvicorn
scikit-learn
mlflow
apache-airflow
apache-airflow-providers-http

xgboost
streamlit
langchain
langchain-openai
langchain-community
plotly
imbalanced-learn>=0.10.0